Repository hanskym/vite-react-starter: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --max-warnings=0

style: format code with Prettier
  README.md
  src/App.tsx
  src/main.tsx
Due: prettier --write, eslint --max-warnings=0

chore: add eslint plugin react
  bun.lockb
  eslint.config.js
  package.json
  src/App.tsx
Due: prettier --write, eslint --max-warnings=0

chore: configure Renovate
  renovate.json
Due: prettier --write

feat: add React Router
  .gitignore
  bun.lockb
  eslint.config.js
  index.html
  package.json
  react-router.config.ts
  src/App.css
  src/App.tsx
  src/assets/react-router.svg
  src/entry.client.tsx
  src/main.tsx
  src/root.tsx
  src/routes.ts
  src/routes/_index.tsx
  src/styles/globals.css
  src/vite-env.d.ts
  tsconfig.app.json
  tsconfig.json
  tsconfig.node.json
  vite.config.ts
Due: prettier --write, eslint --max-warnings=0

fix: code adjustment
  .prettierignore
  eslint.config.js
  src/entry.client.tsx
  src/root.tsx
  src/routes/_index.tsx
Due: prettier --write, eslint --max-warnings=0

chore: update dev tools
  .gitignore
  bun.lockb
  package.json
  vite.config.ts
Due: prettier --write, eslint --max-warnings=0

feat: add error boundary component
  src/root.tsx
Due: prettier --write, eslint --max-warnings=0

docs: update README.md
  README.md
Due: prettier --write

fix: code adjustment
  public/robots.txt
  src/routes/_index.tsx
  src/styles/globals.css
  vite.config.ts
Due: prettier --write, eslint --max-warnings=0

chore: migrate Bun lockfile to text-based format
  .prettierignore
  bun.lock
  bun.lockb
Due: none

chore: generate types before building
  package.json
Due: prettier --write

chore: update Renovate schedule to run every weekend
  renovate.json
Due: prettier --write

chore: update renovate schedule
  renovate.json
Due: prettier --write

chore: update tooling and config
  .prettierrc.json
  README.md
  bun.lock
  knip.config.ts
  package.json
  renovate.json
  src/entry.client.tsx
Due: prettier --write, eslint --max-warnings=0

chore: update tooling and config
  .prettierrc.json
  bun.lock
  package.json
Due: prettier --write

chore: update eslint config
  eslint.config.js
Due: prettier --write, eslint --max-warnings=0

chore: config and tooling updates
  README.md
  bun.lock
  knip.config.ts
  package.json
  renovate.json
  vite.config.ts
Due: prettier --write, eslint --max-warnings=0

Path conditions:
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{html,css,scss,json,md,mdx})
  eslint --max-warnings=0: any of: *.{js,jsx,ts,tsx}
